---
layout: default
---


<div class="main-content index-page clearfix">
    <div class="post-lists">
        <div class="post-lists-body">
            
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="item-thumb bg-deepgrey" style="background-image:url({% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ '/style/image/2-Dice-Icon.svg' | prepend: site.baseurl }}{% endif %});"></div>
                    <a href="maa8/luku1">
                        <div class="item-desc">
                            <p>Luvut:<br />
			       {% for page in site.maa8 %}
			       <a href="{{ page.url }}">{{ page.title }}</a><br />
			       {% endfor %} </p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant bg-deepgrey"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a href="maa8/luku1">Tilastot ja todennäköisyys</a>
                        </div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico {% if post.icon %}bg-ico-{{ post.icon }}{% endif %}" style="background: url({{ '/style/image/bg-ico.png' | prepend: site.baseurl }}) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat">
                                <a href="maa8/luku1">Pitkä matematiikka 8</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>
