<div class="{{include.type}}" id="{{include.id}}">
{% if include.type == "exercise" %}
<button type="button" class="collapsible box-button"><span class="exercise-number">Tehtävä </span>: {{include.header}}</button>
<div class="box-content">
{% else %}
<h3 class="box-header">
  {% if include.type == "theorem" %}
  <span class="theorem-number">Lause </span>: {{include.header}}
  {% elsif include.type == "definition" %}
  <span class="definition-number">Määritelmä </span>: {{include.header}}
  {% else %}
  <span class="include.type">{{include.header}}
  {% endif %}
</h3>  
<div class="box-content style="display: block;">
{% endif %}
<div markdown="1">  
{{include.content}}
</div>  
{% if include.extra %}
<button type="button" class="collapsible box-extra-button">
{% if include.type == "exercise" %}
Vastaus
{% elsif include.type == "theorem" %}
Todistus
{% endif %}
</button>
<div class="collapsible box-extra-content" markdown="1">
{{include.extra}} 
</div>
{% endif %}
</div>
</div>
